
$icon-width: auto;
$icon-height: 35px;
$icon-padding: 4px;
$bar-width: 6px;
$bar-spacing: 2px;
$bar-radius: 2px;
$bar-color: #00cc00;
$bar-start-opacity: 0.2;
$bars-show-all: true; // false shows little nubs
$bar-start-height: 2px; // nub height
$bars-use-grow-anim: true; // false uses fade anim

.icon__signal-strength {
	display: inline-flex;
	align-items: flex-end;
	justify-content: flex-end;
	width: $icon-width;
	height: $icon-height;
	padding: $icon-padding;
}
.icon__signal-strength span {
	display: inline-block;
	width: $bar-width;
	//height: $bar-start-height;
	margin-left: $bar-spacing;
	transform-origin: 100% 100%;
	background-color: $bar-color;
	border-radius: $bar-radius;
	
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(.17,.67,.42,1.3);
	animation-fill-mode: both;
	animation-play-state: paused;
}

.icon__signal-strength {
	.bar-1 {
		height: 25%;
		animation-duration: 0.3s;
		animation-delay:0.1s;
	}
	.bar-2 {
		height: 50%;		
		animation-duration: 0.25s;
		animation-delay:0.2s;
	}
	.bar-3 {
		height: 75%;		
		animation-duration: 0.2s;
		animation-delay:0.3s;
	}
	.bar-4 {
		height: 100%;
		animation-duration: 0.15s;
		animation-delay:0.4s;
	}
}

.signal-0 {
	.bar-1,
	.bar-2,
	.bar-3,
	.bar-4 {
		opacity: $bar-start-opacity;
		
		@if $bars-show-all == false {
			height: $bar-start-height;			
		}
	}
}
.signal-1 {
	.bar-2,
	.bar-3,
	.bar-4 {
		opacity: $bar-start-opacity;
		
		@if $bars-show-all == false {
			height: $bar-start-height;			
		}
	}
}
.signal-2 {
	.bar-3,
	.bar-4 {
		opacity: $bar-start-opacity;
		
		@if $bars-show-all == false {
			height: $bar-start-height;			
		}
	}
}
.signal-3 {
	.bar-4 {
		opacity: $bar-start-opacity;
		
		@if $bars-show-all == false {
			height: $bar-start-height;			
		}
	}
}


// -- component load animation
@keyframes signal-intro {
	from {
		opacity: $bar-start-opacity;
		
		@if $bars-use-grow-anim {
			height: $bar-start-height;			
		}
	}
}